<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - The Smartphone</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./phone_style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="frame" class="frame">
  <div class="phone-color-changer">
    <button @click="changePhoneColor('white')">White</button>
    <button @click="changePhoneColor('black')">Black</button>
  </div>
  <div class="phone-rotator" @click="rotatePhone()"></div>
  <div class="phone"
       :class="[
               phoneColor,
               {'is-rotated': isPhoneRotated}]">
    <div class="front-speaker front-speaker--top"></div>
    <div class="front-speaker front-speaker--bottom"></div>

    <div class="front-camera"></div>
    <div class="proximity-sensor"></div>

    <div class="back-part back-part--bone" v-for="id in 16" :key="id" :class="['back-part--bone-' + id]"></div>

    <div class="back-part">
      <div class="main-camera">
        <div class="lens lens--main"></div>
        <div class="lens lens--tele"></div>
        <div class="flash"></div>
      </div>
      <div class="phone-rotator phone-rotator--back" @click="rotatePhone()"></div>
    </div>

    <div class="screen"></div>

    <div class="scene main-scene" :class="{active: authorized}" id="main-screen">
      <div class="status-bar" @click="statusBarExpanded = !statusBarExpanded">
        <div class="notifications">
          <span class="fab fa-instagram"></span>
          <span class="fab fa-line"></span>
          <span class="fa fa-comments"></span>
        </div>
        <div class="statuses">
          <span class="battery"></span>
          <span class="clock">{{ currentTime }}</span>
        </div>
      </div>
      <div class="control-center" :class="{active: statusBarExpanded}">
        <div class="brightness">
          <span class="fa fa-adjust" id="sbrightness" onchange="sendText()">50</span>
          <input type="range" name="brightness" id="brightness" class="brightness-slider" min="1" max="100" 
               onchange="showVal(this.value)" step="1">
        </div>
        <div class="settings">
          <div class="settings__item">
            <span class="fa fa-wifi"></span>
            <p>Wi-Fi</p>
          </div>
          <div class="settings__item">
            <span class="fa fa-plane"></span>
            <p>Airplane Mode</p>
          </div>
          <div class="settings__item">
            <span class="fab fa-bluetooth"></span>
            <p>Bluetooth</p>
          </div>
          <div class="settings__item">
            <span class="fa fa-map-marker-alt"></span>
            <p>Location</p>
          </div>
          <div class="settings__item">
            <span class="fa fa-sim-card"></span>
            <p>SIM Card</p>
          </div>
          <div class="settings__item">
            <span class="fa fa-wifi"></span>
            <p>Wi-Fi</p>
          </div>
        </div>
      </div>
      <div class="navigation-bar" :class="[activeApp]">
        <div @click="toHome()">
          <div class="line-btn"></div>
        </div>
      </div>

      <div class="scene-page scene-page--home">
        <div class="scene-bg" @click="doubleTap()"></div>
        <div class="google-widget">
          <span class="ok-google">Say "Ok Google"</span>
          <div class="mic-icon">
            <span class="fa fa-microphone"></span>
          </div>
        </div>
        <div class="weather-widget">
          <div class="degree">22°C</div>
          <div class="location">
            <span class="fa fa-map-marker-alt marker"></span>
            West Jakarta
          </div>
          <div class="condition">Partly Sunny</div>
          <div class="sun"></div>
          <span class="fa fa-cloud cloud"></span>
        </div>

        <div class="app-row">
          <div class="app-item" @click="openWA()">
            <div class="app-icon app-icon--whatsapp theme-whatsapp">
              <span class="fab fa-whatsapp"></span>
            </div>
            <div class="app-name">WhatsApp</div>
          </div>
          <div class="app-item" @click="openMusic()">
            <div class="app-icon app-icon--music theme-music">
              <span class="fa fa-music"></span>
            </div>
            <div class="app-name">Music</div>
          </div>
          <div class="app-item">
            <div class="app-icon app-icon--images theme-gallery">
              <span class="fa fa-images"></span>
            </div>
            <div class="app-name">Gallery</div>
          </div>
        </div>
      </div>

      <div class="scene-page scene-page--whatsapp" v-show="isWAOpen">
        <div class="app-content chat-list" v-show="isChatListOpen">
          <div class="app-bar theme-whatsapp">
            <p class="app-title">WhatsApp</p>
            <div class="options">
              <div class="btn-options"><span class="fas fa-ellipsis-v"></span></div>
            </div>
          </div>
          <div class="wa-chat-card" v-for="chat in chats"
               @click="openConvo(chat.contact)">
            <div class="pp-holder">
              <img :src="chat.contact.pp" alt="PP" class="round">
            </div>
            <div class="right-part">
              <div class="top">
                <div class="contact-name text-bold">
                  {{ chat.contact.name }}
                </div>
                <div class="message-time" v-if="chat.conversations.length">
                  {{ chat.conversations[chat.conversations.length - 1].time }}
                </div>
              </div>
              <div class="bottom">
                <p class="message-text" v-if="chat.conversations.length">
                  {{ chat.conversations[chat.conversations.length - 1].message }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="app-content search-contact" v-show="isSelectContactOpen">
          <div class="app-bar theme-whatsapp">
            <div class="btn-back" @click="openChatList()">
              <span class="fa fa-arrow-left"></span>
            </div>
            <p class="app-title">Select Contact</p>
            <div class="options">
              <div class="btn-search" @click="toggleSearchbar()"><span class="fa fa-search"></span></div>
              <div class="btn-options"><span class="fas fa-ellipsis-v"></span></div>
            </div>
            <div class="searchbar-layer" v-show="isSearchbarOpen">
              <div class="btn-back" @click="toggleSearchbar()">
                <span class="fa fa-arrow-left"></span>
              </div>
              <input type="text" name="contact" id="contact-textbox"
                     placeholder="Search.."
                     v-model="contactSearchText"
                     ref="searchbar_contact">
            </div>
          </div>
          <div class="wa-contact-card" v-for="contact in filteredContacts"
               @click="openConvo(contact)">
            <div class="pp-holder round">
              <img :src="contact.pp" :alt="contact.name" class="round">
            </div>
            <div class="right-part">
              <div class="top">
                <div class="contact-name text-bold">{{ contact.name }}</div>
              </div>
              <div class="bottom">
                <p class="contact-status">{{ contact.status }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="app-content convo" v-show="isConvoOpen" ref="convo_content">
          <div class="app-bar theme-whatsapp">
            <div class="btn-back" @click="openChatList()">
              <span class="fa fa-arrow-left"></span>
            </div>
            <div class="contact-details">
              <div class="pp-holder round">
                <img :src="currentConvo.contact.pp" :alt="currentConvo.contact.name" class="round">
              </div>
              <div class="contact-name">{{ currentConvo.contact.name }}</div>
            </div>
          </div>
          <div class="wa-convo-row" v-for="convo in currentConvo.conversations"
               :class="{
                       'me': convo.from == 'me',
                       'theirs': convo.from != 'me'
                       }">
            <div class="convo-bubble"
                 :class="{ 'me': convo.from == 'me' }">
              <div class="message">{{ convo.message }}</div>
              <div class="time">{{ convo.time }}</div>
            </div>
          </div>
          <div class="texting-bar">
            <input type="text" name="convo" id="convo_textfield"
                   class="texting-field"
                   v-model="convoText"
                   @keyup.enter="sendMessage()"
                   ref="texting_field">
            <div class="btn-voice theme-whatsapp round">
              <span class="fa fa-microphone"></span>
            </div>
          </div>
        </div>
        <div class="floating-btn theme-whatsapp" v-show="isChatListOpen"
             @click="openSearchContact()">
          <i class="fa fa-comment-dots"></i>
        </div>
      </div>

      <div class="scene-page scene-page--musics" v-show="isMusicOpen">
        <div class="app-content music-list" v-show="musicListOpen">
          <div class="app-bar theme-music text-black">
            <p class="app-title">Music Library</p>
            <div class="options">
              <div class="btn-options"><span class="fas fa-ellipsis-v"></span></div>
            </div>
          </div>
          <div class="music-list-card" v-for="music in musics"
               @click="playMusic(music)">
            <div class="left-part">
              <div class="cover-img round">
                <img :src="music.cover" :alt="music.artist" class="round">
              </div>
            </div>
            <div class="right-part">
              <div class="music-data">
                <div class="title text-bold">{{music.title}}</div>
                <div class="artist">{{music.artist}}</div>
                <div class="duration text-bold">
                  {{music.duration}}
                </div>
              </div>
              <div class="playing-indicator">
                <div v-show="nowPlaying.title == music.title">
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="app-content now-playing" v-show="musicNowPlayingOpen">
          <div class="app-bar theme-music text-black">
            <div class="btn-back" @click="openMusicList()">
              <span class="fa fa-arrow-left"></span>
            </div>
            <p class="app-title">Now Playing</p>
            <div class="options">
              <div class="btn-equalizer">
                <span class="fas fa-sliders-h"></span>
              </div>
            </div>
          </div>
          <div class="cover-img">
            <img :src="nowPlaying.cover" :alt="nowPlaying.title">
          </div>
          <div class="music-details">
            <div class="music-img round">
              <img :src="nowPlaying.cover" :alt="nowPlaying.title" class="round">
            </div>
            <div class="music-data">
              <p class="title text-center text-bold">{{ nowPlaying.title }}</p>
              <p class="artist text-center">{{ nowPlaying.artist }}</p>
            </div>
          </div>
          <div class="play-control">
            <div class="top">
              <div class="duration-meter"
                   :class="{
                           'is-paused': !isMusicPlaying,
                           'is-repeated': isRepeated,
                           'is-stopped': isStopped
                           }"></div>
            </div>
            <div class="bottom">
              <div class="btn-shuffle" @click="toggleShuffle()"
                   :class="{active: isShuffled}">
                <span class="fas fa-random"></span>
              </div>
              <div class="btn-backward" @click="prevMusic()">
                <span class="fas fa-fast-backward"></span>
              </div>
              <div class="btn-play-state round"
                   @click="togglePlayState()">
                <span class="fa fa-play" v-show="!isMusicPlaying && !isStopped"></span>
                <span class="fa fa-pause" v-show="isMusicPlaying || isStopped"></span>
              </div>
              <div class="btn-forward" @click="nextMusic()">
                <span class="fas fa-fast-forward"></span>
              </div>
              <div class="btn-repeat" @click="toggleRepeat()"
                   :class="{active: isRepeated}">
                <span class="fas fa-redo-alt"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="navigation">
          <div @click="openMusicList()"
               :class="{selected: musicListOpen}">
            <span class="fas fa-stream"></span>
          </div>
          <div @click="openNowPlaying()"
               :class="{selected: musicNowPlayingOpen}">
            <div class="fab fa-itunes-note"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="scene smart-scene" v-if="!authorized">
      <div class="digi-widget">
        <span class="battery">100%</span>
        <span class="clock">{{ currentTime }}</span>
        <span class="date">Mar 6 Wed</span>
      </div>
      <div class="in-screen-fingerprint" @click="authorized = !authorized">
        <span class="fas fa-fingerprint"></span>
      </div>
    </div>

  </div>
</div>
<!-- partial -->
<script src='./vue.min.js'></script>
<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js'></script> -->
<script  src="./phone_script.js"></script>



<script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){
    let $bright = $("#brightness");
    // $($bright).setInterval(() => {
      
    //   console.log($bright);
    // }, 100);
    //   console.log($bright);
  });



  function showVal(newVal){
      document.getElementById("sbrightness").innerHTML=newVal;
      console.log(newVal);
      let y = document.getElementById("main-screen");
      y.setAttribute("style", "opacity:"+(0.01*newVal)+" !important");
    };

  // let x = document.getElementById("sbrightness").textContent;
  // console.log(x)

  document.getElementById("sbrightness").textContent.onChange = function(){
    let x = document.getElementById("sbrightness").textContent;
    console.log(x)
  };

  function sendText(){
    let x = document.getElementById("sbrightness").textContent;
    console.log(x)
  };
</script>

</body>
</html>
